//variables
$primary: rgba(70, 131, 180, 0.466);
$secondary: rgba(95, 215, 255, 0.705);
$gameborder: rgb(199, 231, 224);
$detailtext: rgb(146, 146, 146);

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.explore {
  background: rgba(255, 255, 255, 0.863);
}

.app-logo {
  margin: -8px;
}

// Nav-bar

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid $primary;

  .title {
    display: flex;
    color: silver;
    font-size: 25px;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    .nav-link {
      margin: 0 5px;
      padding: 5px 10px;
      border: 0;
      background: $primary;
      color:white;
      border-radius: 4px;

      &:hover {
        background: $secondary;
      }
    }

  }

}

.detail-text {
  margin: 5px 5px 20px 5px;
  font-style: italic;
  font-weight: 100;
  color: black;
}

.head-title {
  font-size: 35px;
  color: silver;
  margin: 15px;
  font-weight: 300;
}

// prompt

.prompt-container {
  height: 580px;
}

.prompt-button {
  margin: 15px 15px 25px 15px;
  background: white;
  border: 2px solid rgba(70, 131, 180, 0.226);
  padding: 5px 10px;
  border-radius: 4px;
  &:hover {
    background: rgba(70, 131, 180, 0.226);
  }
  &:focus {
    outline: 0;
  }
}


// explore

.explore-head {
  color: $secondary;
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  border: 0;
  background: white;
  margin: 0 15px;
  &:hover {
    color: $gameborder;
    font-size: 30px;
    margin: -5px 5px;
  }
  &:focus {
    color: rgb(196, 196, 196);
    outline: 0;
  }
}

.title-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-title {
  text-decoration: none;
  color: $secondary;
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  border: 0;
  background: white;
  margin: 5px 15px;
  &:hover {
    color: $gameborder;
  }
  &:focus {
    color: rgb(196, 196, 196);
    outline: 0;
  }
}

.game-developer {
  margin-top: 15px;
  border: 2px solid $primary;
  border-radius: 80px;
  &:hover {
    border: 2px solid $secondary;
  }
}

.game-image {
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  margin: 10px;
  width: 350px;
  height: 200px;
  &:hover {
    border-top: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
  }
}

.game-feed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 45px;
  border-top: 1px solid $gameborder;
  border-bottom: 1px solid $gameborder;

  .genre-container {
    margin: 5px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .appeal-container {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .appeal-button {
        margin-right: 5px;
        background: white;
        border: 0;
      }

    }
  }

}

// Single game page

.center-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-body-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 50px;
}

.body-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-container {
  width: 15%;
  height: 315px;
  margin: 70px 40px;
  border: 2px solid $primary;
  border-radius: 4px;
}

.single-details {
  margin: 15px;
  font-size: 25px;
  font-weight: 300;
  color: silver;
}

.appeal-button {
  margin: 15px 15px 25px 15px;
  background: white;
  border: 2px solid rgba(70, 131, 180, 0.226);
  padding: 5px 10px;
  border-radius: 4px;
  &:hover {
    background: rgba(70, 131, 180, 0.226);
  }
  &:focus {
    outline: 0;
  }
}

.single-game-title {
  margin: 25px 0 10px 0;
  font-size: 45px;
  font-weight: 200;
  color: silver;
}

.single-dev-image {
  width: 100px;
  margin: 15px;
  border: 2px solid $primary;
  border-radius: 80px;
}

.single-game-dev {
  width: 100%;
  margin: 10px;
}

.single-game-image {
  width: 560px;
  height: 315px;
  border: 2px solid $primary;
  border-radius: 4px;
}

.game-description {
  width: 75%;
  text-align: justify;
  margin: 15px;
  font-style: italic;
  font-weight: 100;
}

.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-video {
  margin: 35px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-break {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 50px;
}

.game-label {
  margin: 10px;
  font-size: 45px;
  font-weight: 100;
  color: silver;
}

// dev page

.dev-image {
  margin: 15px;
  border: 2px solid $primary;
  border-radius: 180px;
}

.dev-details {
  font-size: 25px;
  color: silver;
  font-weight: 100;

  .dev-bio {
    margin: 10px;
  }

  .dev-email {
    margin: 10px;
  }

  .dev-facebook-container {
    margin: 10px;

    .dev-facebook {
      margin: -3px 10px;
    }
  }

}

// investors

.create-label {
  color: $secondary;
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  border: 0;
  background: white;
  margin: 0 15px;
}

.investor-title {
  text-decoration: none;
  color: $secondary;
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  border: 0;
  background: white;
  margin: 25px 15px;
  &:hover {
    color: $gameborder;
  }
  &:focus {
    color: rgb(196, 196, 196);
    outline: 0;
  }
}

// Footer

.footer {
  border-top: 1px solid $primary;
}

.footer-name {
  margin: 35px;
  color: silver;
  font-weight: 100;
}